@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Akaya+Kanadaka&family=Cabin&family=Cinzel&family=Dancing+Script:wght@500&family=Exo+2&family=Francois+One&family=Lilita+One&family=Montserrat:wght@300;500;600;700&family=Nerko+One&family=Nunito:wght@200;300;400;600;700&family=Oleo+Script&family=Oswald:wght@300&family=Patua+One&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Akaya+Kanadaka&family=Cabin&family=Cinzel&family=DM+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Dancing+Script:wght@500&family=Exo+2&family=Francois+One&family=Lilita+One&family=Montserrat:wght@300;500;600;700&family=Nerko+One&family=Nunito:wght@200;300;400;600;700&family=Oleo+Script&family=Oswald:wght@300&family=Patua+One&family=Permanent+Marker&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Akaya+Kanadaka&family=Cabin&family=Cinzel&family=DM+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Dancing+Script:wght@500&family=Exo+2&family=Francois+One&family=Lilita+One&family=Montserrat:wght@300;500;600;700&family=Nerko+One&family=Nunito:wght@200;300;400;600;700&family=Oleo+Script&family=Oswald:wght@300&family=Oxanium:wght@300;500;600;700&family=Patua+One&family=Permanent+Marker&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600&family=Roboto&family=Satisfy&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
:root{
   --main-color:#10101E;
   --para-color:#A896B7;
   --white-color:#F5EBFF;
   --purple-color:#A044FF;
   --border-color:#A896B7;


   /* fonts */
   --plus-font-family:'Plus Jakarta Sans', sans-serif;

}

html , body{
    overflow-x:hidden !important;
    /* overflow:hidden; */
    /* font-size:10px; */
}

li{
    list-style:none;
}
a{
    text-decoration:none;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    width:100%;
    margin-top:100px;
    /* height:100vh; */
    background-color:var(--main-color);
    

}
.card {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color:var(--white-color);
  }
  
  .dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: black;
    border: 2px solid #D1D5DB;
    font-size: 1rem;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
  }
  
  .dismiss:hover {
    background-color: #ee0d0d;
    border: 2px solid #ee0d0d;
    color: #fff;
  }
  
  .header {
    padding: 1.25rem 1rem 1rem 1rem;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2feee;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
  }
  
  .image svg {
    color: #0afa2a;
    width: 2rem;
    height: 2rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.75rem 1rem;
  }
  
  .history {
    display: inline-flex;
    padding: 0.5rem 1rem;
    /* background-color: #1aa06d; */
    background-color:var(--purple-color);
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .track {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
  }